extends layout

block content
  div(id='wrap')
   div(class='main')
    b ROOMS
    #rooms
    hr
    b USERS
    #users
   div(class='body-chat')
    #conversation
  .msg
     input#data(style='width:600px;height:36px')
     input#datasend(type='button', value='send')
    
block script 
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/js.js')

